.assets_content h1{
	position: relative;
	padding-left: 60px!important;
	font-weight: bold;
    color: #666;
}
.assets_content h1:before{
	position: absolute;
	content: "";
    top: 14px;
    left: 20px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    background-image: url(../style/img/icon25.png);
}
#status-select{
	width: 150px!important;
}